<div class="chat_header">
  <div class="left_header">
    <div class="header_title">
    </div>
  </div>
   <div class="right_header">
     <div class="header_button">  
      <a href="#">チャットを終了する</a>
    </div>
 </div>
</div>

<div class="messages">
  <div class="message">
      <div class="up_message">
       <div class="message_user">
        </div>
       <div class="message_date">
       </div>
     </div>
    <div class="down_message">
     <div class="message_content">
     </div>
   </div>
  </div>
</div>

  <%= form_with model: [@room, @message], class: 'form', local: true do |f| %>
  <div class="form_input">
    <%= f.text_field :content, class: 'form_message', placeholder: 'type a message' %>
    <label class="form_image">
      <span class="image_file">画像</span>
      <%= f.file_field :image, class: 'hidden' %>
    </label>
  </div>
  <%= f.submit '送信', class: 'form_submit' %>
  <% end %>