<div class="side_bar_header">
  <div class="name">
    <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class="chat_create">
    <%= link_to "チャットを作成する", new_room_path %>
  </div>
</div>

<div class="rooms">
 <% current_user.rooms.each do |room| %>
  <div class="room">
    <div class="room_name">
    <%= link_to room.name, room_messages_path(room)%>
     </div>
  </div>
  <% end %>
  </div>