.wrapper {
  display: flex;
 }
/*
サイドバー
*/
 .side_bar {
  width: 300px;
  height: 100vh;
  background-color: #253141;
 }

 .side_bar_header {
  height: 100px;
  padding: 0 20px;
  background-color: #253141;
  display: flex;
  justify-content: space-around;
  align-items: center;
 }

 .name a{
  font-size: 16px;
  color: #fafafa;
  text-decoration: none;
 }

 .chat_create a{
  font-size: 10px;
  color: deepskyblue;
  border: 1px solid lightblue;
  padding: 14px;
  text-decoration: none;
 }

 .rooms {
  background-color: #2f3e51;
  height: calc(100vh - 100px);
  padding: 0 20px;
  overflow: scroll;
 }

 .room {
  padding: 20px 0 40px;
 }

 .room_name a{
  text-decoration: none;
  color: white;
 }

/*
チャット画面
*/

 .chat_scr {
  width: calc(100vw - 300px);
  background-color: #ffffff;
  
 }
 .chat_header {
  height: 100px;
  padding: 0 40px;
 }

 .messages {
  background-color: #fafafa;
  height: calc(100vh - 100px - 90px);
  padding: 46px 40px 0;
 }

 .form {
  height: 90px;
  background-color: #dddddd;
  padding: 20px 40px;
 }